{% extends "base.html" %}
{% block title %}Boards{% endblock  %}

{% block breadcrumb %}
<li class = "breadcrumb-item active">Boards</li>
{% endblock  %}
{% block content %}
<table class="table">
            <thead class="table-dark">
                <tr>
                    <th>board</th>
                    <th>topics</th>
                    <th>posts</th>
                    <th>last post</th>
                </tr>
            </thead>
            <tbody>
                {% for board in boards %}
                <tr>
                    <td><a href="{% url 'board_topics' board.pk %}"
                         class="link-primary text-decoration-none">{{board.name}}</a>
                        <small class="text-muted d-block"> {{board.discription}}</small>
                    </td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}